<!-- views/partials/modal.ejs -->

<div class="modal fade" id="info-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informazioni</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <strong>Nome:</strong>
          <span class="ms-2"><%= package.name %></span>
        </div>
        <div class="mb-3">
          <strong>Autore:</strong>
          <span class="ms-2"><%= package.author %></span>
        </div>
        <div class="mb-3">
          <strong>Versione:</strong>
          <span class="ms-2"><%= package.version %></span>
        </div>
        <div class="mb-3">
          <strong>Descrizione:</strong>
          <span class="ms-2"><%= package.description %></span>
        </div>
        <div class="mb-3">
          <strong>Licenza:</strong>
          <span class="ms-2"><%= package.license %></span>
        </div>
        <div class="mb-3">
          <strong>Repository:</strong>
          <a href="<%= package.repository.url %>" class="ms-2 text-decoration-none" target="_blank" rel="noopener">
            <%= package.repository.url %>
            <i class="bx bx-link-external"></i>
          </a>
        </div>
        <div class="mb-3">
          <strong>Segnala un problema:</strong>
          <a href="<%= package.bugs.url %>" class="ms-2 text-decoration-none" target="_blank" rel="noopener">
            <%= package.bugs.url %>
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>